[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
# dev tools
jupyter = "==1.0.0"
mypy = "==0.650"

# for booksite
pygame = "==1.9.4"
numpy = "==1.15.4"

[requires]
python_version = "3.7"

